<app-loading [loadings]="loading"></app-loading>
<div class="right-column sisu signin-up">
	<div class="row mx-0">
		<div class="col-md-7 order-md-2 signin-right-column px-5 bg-dark forget-image">
			<a class="signin-logo d-sm-block d-md-none" href="#">
				<img src="assets/img//logo-dark.png" width="145" height="52" alt="eShop">
			</a>
			<div class="black-overlay">
				<h1 class="display-4">PASSWORD RESET REQUEST</h1>
				<p class="lead mb-5">
					eShop latte SpaceTeam unicorn cortado hacker physical computing paradigm.
				</p>
			</div>
		</div>
		<div class="col-md-5 order-md-1 signin-left-column bg-white px-5">
			<a class="signin-logo d-sm-none d-md-block" href="#">
				<img src="assets/img/logo-dark.png" width="145" height="52" alt="eShop">
			</a>
			<form class="custom-input-control" [formGroup]="forgotForm" (ngSubmit)="forgetPasswordOfUser()">
				<div class="alert alert-danger" *ngIf="errorMsg">
					<strong>{{errorMessage }}</strong>
				</div>
				<h4 class="font-weight-bold mb-0">Forgot Password</h4>
				<div class="form-group">
					<!-- <label for="exampleInputEmail1">Email or Phone</label> -->
					<i class="lnr lnr-envelope placeholder-icon"></i>
					<input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" formControlName="user_name"
					 placeholder="Email">
				</div>
				<div *ngIf="forgotF.user_name.errors && (forgotF['user_name'].touched || forgotF['user_name'].dirty)"
				 class="text-danger">
					<div *ngIf="forgotF.user_name.errors.required">
						Mobile or Email is required.
					</div>
					<!-- <div *ngIf="forgotF.emailOrMobile.errors.email">
            Email must be a valid email address
          </div> -->
				</div>
				<button type="submit" [disabled]="!forgotForm.valid" class="btn btn-orange position-relative btn-gradient btn-block mt-4 text-decoration-none">
				<span class="gradient">Get OTP</span>	
				</button>
				<p class="text-center fsize-11 mt-3">
					Remember password? <a routerLink="/login">Sign In here</a>
				</p>
			</form>
		</div>
	</div>
</div>