.usr-module-logo {
  margin-bottom: 30px;
}

.usr-module-wrapper {
  & > .usr-content {
    height: calc(100vh - 75.5px);
  }
}
@media (max-width: 1199px) {
  .usr-module-wrapper {
    & > .usr-content {
      padding-top: 60px;
    }
  }
}
