<app-loading [loadings]="loading"></app-loading>
<div class="right-column">
  <main class="main-content usr-module-wrapper container-fluid py-5" role="main">
    <div class="container">
      <div class="row justify-content-center align-items-start align-items-xl-center usr-content">
        <div class="col-11 col-md-6 col-xl-4 mt-5">
          <div class="card">
            <div class="card-body">
              <form class="custom-input-control" [formGroup]="changeForm" (ngSubmit)="changeUserPass()">
                <!-- <div class="alert alert-success" *ngIf="successMsg">
                  <strong>{{successMessage }}</strong>
                </div> -->
                <div class="alert alert-danger" *ngIf="errorMsg">
                  <strong>{{errorMessage }}</strong>
                </div>
                <h5 class="font-weight-bold mb-0 mt-4 text-center">Change Password</h5>
                <div class="form-group">
                  <i class="lnr lnr-lock placeholder-icon"></i>
                  <input type="password" class="form-control custom-input" id="InputPassword1" formControlName="oldPassword"
                    placeholder="Old Password">
                </div>
                <div *ngIf="resetF.oldPassword.errors && (resetF['oldPassword'].touched || resetF['oldPassword'].dirty)" class="text-danger">
                  <div *ngIf="resetF.oldPassword.errors.required">
                    Old Password is required.
                  </div>
                  <div *ngIf="resetF.oldPassword.errors.minlength">
                    Password must be at least 8 characters.
                  </div>
                </div>
                <div class="form-group">
                  <i class="lnr lnr-lock placeholder-icon"></i>
                  <input type="password" class="form-control custom-input" id="InputPassword2" formControlName="password"
                    placeholder="New Password">
                </div>
                <div *ngIf="resetF.password.errors && (resetF['password'].touched || resetF['password'].dirty)" class="text-danger">
                  <div *ngIf="resetF.password.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="resetF.password.errors.minlength">
                    Password must be at least 8 characters.
                  </div>
                </div>
                <div class="form-group">
                  <i class="lnr lnr-lock placeholder-icon"></i>
                  <input type="password" class="form-control custom-input" id="InputPassword3" formControlName="confirmPassword"
                    placeholder="Confirm Password">
                </div>
                <div *ngIf="resetF.confirmPassword.errors && (resetF['confirmPassword'].touched || resetF['confirmPassword'].dirty)"
                  class="text-danger">
                  <div *ngIf="resetF.confirmPassword.errors.required">
                    Conform Password is required.
                  </div>
                  <div *ngIf="resetF.confirmPassword.errors.mustMatch">
                    Confirm Passwords must match.
                  </div>
                </div>
                <button type="submit" [disabled]="!changeForm.valid"  class="btn btn-orange btn-gradient btn-block mt-4 text-decoration-none position-relative">
                  <span class="gradient">Submit</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>