<!-- <div class="right-column">
  <main class="main-content container-fluid py-5" role="main">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between pt-4">
            <span class="d-flex align-items-end">Saved Cards</span>
            <a class="scrollLink" data-toggle="collapse" data-parent="#accordion" href="#collapseNewAddress"
              aria-expanded="true" aria-controls="collapseOne" (click)="scrollNavigate();">
              <button class="btn btn-md btn-outline-secondary waves-effect waves-light" type="button" data-toggle="collapse"
                data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                <span class="lnr lnr-plus-circle font-weight-bold"></span> Add New Cards
              </button>
            </a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="saved-address border p-0 row m-0">
                  <div class="col-2 d-flex align-items-center justify-content-around saved-card-container">
                    <div class="custom-control custom-radio customized-checked-radio custom-color-control"
                      data-qp-color="transparent">
                      <input type="radio" class="custom-control-input" id="radio1" name="radio-stacked" checked>
                      <label class="custom-control-label" for="radio1">
                        <span class="sr-only">Yellow</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-10 pl-0">
                    <div class="coupon-desc">
                      <div class="available-coupon d-flex justify-content-between mb-2">
                        <div class="align-self-center">
                          <p class="mb-0">CARD NUMBER</p>
                          <h5 class="fweight-5 mb-2">
                            8824 64XX XXXX 4656S
                          </h5>
                        </div>
                        <label class="label align-self-center text-right">
                          <img src="assets/img/visa.png" alt="" width="40">
                          <br>
                          DEBIT CARD
                        </label>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="mb-0">NAME ON CARD</p>
                        <p class="mb-0">VALIDITY</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <h5 class="fweight-5">Susheel Kumar Yadav</h5>
                        <h5 class="fweight-5">02/22</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 edit-rmv-container d-flex border-top p-2">
                    <a href="" class="w-50 text-center border-right">Edit</a>
                    <a href="" class="w-50 text-center">Remove</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="saved-address border p-0 row m-0">
                  <div class="col-2 d-flex align-items-center justify-content-around saved-card-container">
                    <div class="custom-control custom-radio customized-checked-radio custom-color-control"
                      data-qp-color="transparent">
                      <input type="radio" class="custom-control-input" id="radio2" name="radio-stacked" checked>
                      <label class="custom-control-label" for="radio2">
                        <span class="sr-only">Yellow</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-10 pl-0">
                    <div class="coupon-desc">
                      <div class="available-coupon d-flex justify-content-between mb-2">
                        <div class="align-self-center">
                          <p class="mb-0">CARD NUMBER</p>
                          <h5 class="fweight-5 mb-2">
                            8824 64XX XXXX 4656S
                          </h5>
                        </div>
                        <label class="label align-self-center text-right">
                          <img src="assets/img/visa.png" alt="" width="40">
                          <br>
                          DEBIT CARD
                        </label>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="mb-0">NAME ON CARD</p>
                        <p class="mb-0">VALIDITY</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <h5 class="fweight-5">Susheel Kumar Yadav</h5>
                        <h5 class="fweight-5">02/22</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 edit-rmv-container d-flex border-top p-2">
                    <a href="" class="w-50 text-center border-right">Edit</a>
                    <a href="" class="w-50 text-center">Remove</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="saved-address border p-0 row m-0">
                  <div class="col-2 d-flex align-items-center justify-content-around saved-card-container">
                    <div class="custom-control custom-radio customized-checked-radio custom-color-control"
                      data-qp-color="transparent">
                      <input type="radio" class="custom-control-input" id="radio3" name="radio-stacked" checked>
                      <label class="custom-control-label" for="radio3">
                        <span class="sr-only">Yellow</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-10 pl-0">
                    <div class="coupon-desc">
                      <div class="available-coupon d-flex justify-content-between mb-2">
                        <div class="align-self-center">
                          <p class="mb-0">CARD NUMBER</p>
                          <h5 class="fweight-5 mb-2">
                            8824 64XX XXXX 4656S
                          </h5>
                        </div>
                        <label class="label align-self-center text-right">
                          <img src="assets/img/visa.png" alt="" width="40">
                          <br>
                          DEBIT CARD
                        </label>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="mb-0">NAME ON CARD</p>
                        <p class="mb-0">VALIDITY</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <h5 class="fweight-5">Susheel Kumar Yadav</h5>
                        <h5 class="fweight-5">02/22</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 edit-rmv-container d-flex border-top p-2">
                    <a href="" class="w-50 text-center border-right">Edit</a>
                    <a href="" class="w-50 text-center">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4 collapse hide" id="collapseNewAddress" role="tabpanel" aria-labelledby="headingOne">
      <div class="col-md-12 mb-4">
        <div class="card">
          <div class="card-header">
            Add New Credit/Debit Card
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <form class="mb-3">
                  <div class="form-group">
                    <label for="name-on-card">Name On Card</label>
                    <input type="text" class="form-control" id="name-on-card" placeholder="Name On Card">
                  </div>
                  <div class="row">
                    <div class="col-md-12 ">
                      <div class="form-group">
                        <label for="credit-card">Card Number</label>
                        <input type="text" class="form-control" id="credit-card" placeholder="0000-0000-0000-0000">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exp-month">Expiry Month</label>
                        <select class="form-control" id="exp-month">
                          <option>01</option>
                          <option>02</option>
                          <option>03</option>
                          <option>04</option>
                          <option>05</option>
                          <option>06</option>
                          <option>07</option>
                          <option>08</option>
                          <option>09</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exp-year">Expiry Year</label>
                        <select class="form-control" id="exp-year">
                          <option>2017</option>
                          <option>2018</option>
                          <option>2019</option>
                          <option>2020</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3">
                      <a class="btn btn-orange btn-gradient btn-block btn-lg float-right position-relative" href="javascript:void(0)">
                        <span class="gradient">Save</span>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div> -->